#welcomeText {
  -fx-font-size: 24px;
  -fx-font-family: "Arial Black";
  -fx-fill: #818181;
  -fx-effect: innershadow( three-pass-box , rgba(0,0,0,0.7) , 6, 0.0 , 0 , 2 );
}

.main-title {
  -fx-font-size: 36px;
  -fx-padding: -10 0 10 0;
}

.slogan {
  -fx-font-size: 28px;
  -fx-font-weight: bold;
  -fx-padding: 0 10 0 10;
}

.sub-slogan {
  -fx-font-size: 14px;
  -fx-padding: 0 0 10 0;
}

.buy-coffee {
  -fx-background-color: #0275d8;
  -fx-cursor: hand;
}

.buy-coffee .list-cell {
  -fx-text-fill: white;
}

.buy-coffee:hover {
  -fx-background-color: #1285e8;
}

.buy-coffee-item {
  -fx-text-fill: black !important;
  -fx-background-color: white;
  -fx-cursor: hand;
}

.buy-coffee-item:hover {
  -fx-background-color: #1285e8;
}

.sign-in-message,
.terms-and-conditions {
  -fx-font-size: 12px;
  -fx-font-style: italic;
}

.sign-in-message {
  -fx-padding: 10 0 0 0;
}

.terms-and-conditions {
  -fx-padding: 0 0 10 0;
}

.fixed-width-text {
  -fx-font-size: 12px;
  -fx-font-family: "Courier New";
}

.important {
  -fx-font-size: 14px;
  -fx-text-fill: #d9534f;
}

.center {
  -fx-alignment: center;
}

.center-left {
  -fx-alignment: center-left;
}

#donateMenu.menu {
  -fx-background-color: #0275d8;
}

#donateMenu.menu:hover {
  -fx-background-color: #1285e8;
}

#donateMenu.menu .label {
  -fx-text-fill: white;
  -fx-cursor: hand;
}

#donateMenu .menu-item .label {
  -fx-text-fill: #292b2c;
}

.primary {
  -fx-color: #0275d8;
  -fx-text-fill: white;
}

.primary:hover {
  -fx-color: #1285e8;
  -fx-text-fill: white;
}

.primary:pressed {
  -fx-color: #0265c8;
  -fx-text-fill: white;
}

.secondary {
  -fx-color: #eeeeee;
  -fx-text-fill: #292b2c;
}

.secondary:hover {
  -fx-color: #ffffff;
  -fx-text-fill: #292b2c;
}

.secondary:pressed {
  -fx-color: #dddddd;
  -fx-text-fill: #292b2c;
}

.danger {
  -fx-color: #d9534f;
  -fx-text-fill: white;
}

.danger:hover {
  -fx-color: #e9635f;
  -fx-text-fill: white;
}

.danger-text {
  -fx-text-fill: #d9534f;
}

.danger:pressed {
  -fx-color: #c9433f;
  -fx-text-fill: white;
}

.search-tab {
  -fx-border-color:gray;
  -fx-border-width: 1;
}

.checkbox-processed {
  -fx-color: green;
}

.checkbox-failed {
  -fx-color: red;
}